.html   {
    background-color: black;
}

#header {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.hr {
    border: solid red;
}

.images {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    left: -4px;
}

.img1   {
    position: absolute;
    width: 520px;
    height: 346px;
    display: inline;
    object-fit: fill;
}

.frame1 {
    width: 620px;
    height: 415px;
    filter: hue-rotate(0deg) saturate(0);
    display: block;
    z-index: 2;
}

.h2 {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.para   {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.h3 {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.ingredients    {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.steps  {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}